:root {
  --black: black;
  --white: white;
  --api-blue: #4cb4e7;
  --api-blue-dark: #1c7ab5;
}

body {
  background-color: var(--black);
  color: #333;
  font-family: Lexend, sans-serif;
  font-size: 1.25rem;
  line-height: 1.7;
}

p {
  color: var(--white);
  text-align: center;
  width: 48rem;
  max-width: 90%;
  margin-bottom: 3rem;
}

.wrapper--page {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100svh;
  display: flex;
}

.logo {
  width: 20rem;
  max-width: 90%;
  margin-bottom: 3rem;
}

.button {
  background-color: var(--api-blue);
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  width: 20rem;
  max-width: 90%;
  padding: 1rem 1.5rem;
  font-size: 1.75rem;
  transition: background-color .35s;
}

.button:hover {
  background-color: var(--api-blue-dark);
}

.noise {
  z-index: -1;
  position: absolute;
  inset: 0%;
}

@media screen and (max-width: 991px) {
  p, .logo {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 479px) {
  p {
    font-size: 1rem;
  }

  .button {
    font-size: 1.5rem;
  }
}


